<div>
  <h2>Hi Carter,</h2>
  <p>The below User has tried to contact you with the below information.</p>

  <h4>Name :- <%= data.firstName %> <%= data.lastName %></h4>
  <h4>Email :- <%= data.email %></h4>
  <h4>Phone Number :- <%= data.phoneNumber %></h4>
  <p> Selected Specification : <strong><%= data.specifications %></strong></p>
  <p><strong>Here is the below message sent by the client :-</strong></p>
  <h5><%= data.message %></h5>
  <p>Thanks!</p>
</div>
